<div class="relative mx-auto w-full max-w-96">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [colors]="chartOptions.colors">
  </apx-chart>

  <div class="absolute top-0 right-0 bottom-0 left-0 m-auto flex h-fit w-fit flex-col gap-2 text-center">
    <p class="text-preset-1 text-grey-900">{{ 338 | currency:'USD':true:'1.0-0' }}</p>
    <p class="text-preset-5 text-grey-500">of {{ 975 | currency:'USD':true:'1.0-0' }} limit</p>
  </div>
</div>
