<div class="hidden px-8 md:block">
  <img
    src="./images/logo.svg"
    alt="logo" />
</div>

<nav class="text-preset-3 text-grey-300 grow">
  <ul class="flex flex-row items-center justify-between px-2 pt-3 sm:px-4 md:flex-col md:items-stretch md:px-0 md:pt-0 md:pr-8">
    <sidebar-item
      label="Overview"
      link="/"
      [exactMatch]="true">
      <home-icon />
    </sidebar-item>
    <sidebar-item
      label="Transactions"
      link="/transactions">
      <transactions-icon />
    </sidebar-item>
    <sidebar-item
      label="Budgets"
      link="/budgets">
      <budgets-icon />
    </sidebar-item>
    <sidebar-item
      label="Pots"
      link="/pots">
      <pots-icon />
    </sidebar-item>
    <sidebar-item
      label="Recurring Bills"
      link="/recurring-bills">
      <recurrent-bills-icon />
    </sidebar-item>
  </ul>
</nav>

<button
  class="text-preset-3 text-grey-300 hover:text-grey-100 hidden cursor-pointer items-center gap-4 px-8 transition-colors duration-300 md:flex"
  (click)="toggle()">
  <back-icon class="block size-5" />
  <span>Minimize Menu</span>
</button>
