<label
  [attr.for]="name()"
  class="text-preset-5-bold text-grey-500">
  {{ label() }}@if (required()) {
  <span class="ml-1 text-red-500">*</span>
  }
</label>

<input
  [attr.type]="type()"
  [id]="name()"
  [value]="value"
  [placeholder]="placeholder()"
  [disabled]="disabled"
  [readonly]="readonly()"
  [class]="inputClasses"
  (input)="onInput($event)"
  (blur)="onBlur()" />

<div class="flex flex-wrap justify-between gap-x-2">
  @if (hasError()) {
  <p class="text-preset-5 text-red-500">{{ errorMessage() }}</p>
  } @if(helpText()) {
  <p class="text-preset-5 text-grey-500 text-end">{{ helpText() }}</p>
  }
</div>
