<card>
  <section class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <div class="bg-green size-5 rounded-full"></div>
      <h2 class="text-preset-2 text-grey-900">Savings</h2>
    </div>
    <div
      class="text-grey-300 hover:bg-beige-100 size-8 cursor-pointer rounded-full p-2 transition-colors duration-300"
      (click)="toggleDropdown()"
      (keydown)="toggleDropdown()"
      tabindex="0"
      cdkOverlayOrigin
      #origin="cdkOverlayOrigin">
      <ellipsis-icon class="full" />
    </div>
  </section>

  <section class="flex flex-col gap-4">
    <div class="flex items-end justify-between gap-4">
      <p class="text-preset-4 text-grey-500">Total Saved</p>
      <p class="text-preset-1 text-grey-900">{{ 159 | currency:'USD':'symbol':'1.2-2' }}</p>
    </div>
    <progress-bar
      color="#277c78"
      [percentage]="50"
      [isTiny]="true" />

    <div class="flex items-center justify-between gap-4">
      <p class="text-preset-5-bold text-grey-500">73.3%</p>
      <p class="text-preset-5 text-grey-500">Target of $150</p>
    </div>

    <div class="mt-2 grid grid-cols-2 gap-4">
      <button class="text-preset-4-bold bg-beige-100 text-grey-900 hover:border-beige-500 cursor-pointer rounded-xl border-2 border-transparent p-4 transition-colors duration-300 hover:bg-white">+ Add Money</button>
      <button class="text-preset-4-bold bg-beige-100 text-grey-900 hover:border-beige-500 cursor-pointer rounded-xl border-2 border-transparent p-4 transition-colors duration-300 hover:bg-white">Withdraw</button>
    </div>
  </section>
</card>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen()"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="closeDropdown()"
  (detach)="closeDropdown()">
  <div class="max-h-96 max-w-full overflow-y-auto rounded-xl bg-white p-4 shadow-2xl">
    <ul class="divide-grey-100 divide-y">
      <li
        class="text-grey-900 text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0"
        (click)="openModal()"
        (keydown)="openModal()"
        tabindex="0">
        Edit Pot
      </li>
      <li
        class="text-red text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0"
        (click)="openModal()"
        (keydown)="openModal()"
        tabindex="0">
        Delete Pot
      </li>
    </ul>
  </div>
</ng-template>
