<label
  [attr.for]="name()"
  class="text-preset-5-bold text-grey-500">
  {{ label() }}@if (required()) {
  <span class="ml-1 text-red-500">*</span>
  }
</label>

<div
  [class]="inputClasses + ' relative flex items-center justify-between cursor-pointer'"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="openDropdown()"
  (keyup.enter)="openDropdown()"
  tabindex="0"
  [attr.aria-label]="label()">
  @if (hasIcon()) {
  <div class="text-grey-500 pointer-events-none absolute top-1/2 left-4 -translate-y-1/2">
    <ng-content select="icon"></ng-content>
  </div>
  }

  <span
    class="flex-1 text-left"
    [class]="value ? 'text-grey-900' : 'text-grey-500'">
    {{ getSelectedLabel() || placeholder() }}
  </span>

  <chevron-down-icon
    class="text-grey-500 block h-4 w-4 transition-transform"
    [class.rotate-180]="isOpen()" />
</div>

<!-- Hidden input for reactive forms -->
<input
  [attr.type]="type()"
  [id]="name()"
  [value]="value"
  [disabled]="disabled"
  [readonly]="readonly()"
  class="sr-only"
  (blur)="onBlur()"
  tabindex="-1" />

<div class="flex flex-wrap justify-between gap-x-2">
  @if (hasError()) {
  <p class="text-preset-5 text-red-500">{{ errorMessage() }}</p>
  } @if(helpText()) {
  <p class="text-preset-5 text-grey-500 text-end">{{ helpText() }}</p>
  }
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen()"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="closeDropdown()"
  (detach)="closeDropdown()">
  <ul class="divide-grey-100 min-w-53 divide-y overflow-y-auto rounded-lg bg-white shadow-lg md:min-w-96">
    @for (option of options(); track option.value) {
    <li
      class="text-preset-4 text-grey-900 cursor-pointer px-4 py-3 transition-colors duration-200 outline-none hover:bg-gray-50"
      tabindex="0"
      role="button"
      (click)="selectOption(option)"
      (keyup.enter)="selectOption(option)"
      (keyup.space)="selectOption(option)">
      @if (optionTemplate()) {
      <ng-container
        [ngTemplateOutlet]="optionTemplate()"
        [ngTemplateOutletContext]="{ $implicit: option, selected: value === option.value }">
      </ng-container>
      } @else { {{ option.label }} }
    </li>
    }
  </ul>
</ng-template>
