<section class="flex items-center gap-4">
  <div class="relative grow">
    <input
      class="border-beige-500 text-preset-4 placeholder:text-beige-500 hover:border-grey-900 hover:text-grey-900 focus:border-grey-900 focus:text-grey-900 h-12 w-full rounded-xl border px-6 leading-none focus:outline-none"
      type="text"
      placeholder="Search transactions" />
    <search-icon class="absolute top-0 right-6 bottom-0 my-auto size-4" />
  </div>

  <div
    class="cursor-pointer lg:grow"
    (click)="toggleSortBy()"
    (keydown)="toggleSortBy()"
    tabindex="0"
    cdkOverlayOrigin
    #origin="cdkOverlayOrigin">
    <download-icon class="block size-5 lg:hidden" />
    <div class="relative hidden w-full items-center gap-2 lg:flex">
      <p class="text-grey-500 text-preset-4 text-nowrap">Sort By</p>
      <div class="border-beige-500 hover:border-grey-900 hover:text-grey-900 focus:border-grey-900 focus:text-grey-900 h-12 w-full appearance-none rounded-xl border px-6 leading-none focus:outline-none"></div>
      <chevron-down-icon
        class="absolute top-0 right-6 bottom-0 my-auto size-4 transition-transform duration-300"
        [class]="isSortByOpen() ? 'rotate-180' : ''" />
    </div>
  </div>

  <div
    class="relative flex cursor-pointer items-center gap-2 lg:grow"
    (click)="toggleCategory()"
    (keydown)="toggleCategory()"
    tabindex="0"
    cdkOverlayOrigin
    #categoryOrigin="cdkOverlayOrigin">
    <filter-icon class="block size-5 lg:hidden" />
    <div class="relative hidden w-full items-center gap-2 lg:flex">
      <p class="text-grey-500 text-preset-4">Category</p>
      <div class="border-beige-500 hover:border-grey-900 hover:text-grey-900 focus:border-grey-900 focus:text-grey-900 h-12 w-full appearance-none rounded-xl border px-6 leading-none focus:outline-none"></div>
      <chevron-down-icon
        class="absolute top-0 right-6 bottom-0 my-auto size-4 transition-transform duration-300"
        [class]="isCategoryOpen() ? 'rotate-180' : ''" />
    </div>
  </div>
</section>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isSortByOpen()"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="closeSortBy()"
  (detach)="closeSortBy()">
  <div class="max-h-96 max-w-full min-w-56 overflow-y-auto rounded-xl bg-white p-4 shadow-2xl">
    <ul class="divide-grey-100 divide-y">
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">All Categories</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Food & Drink</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Shopping</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Transportation</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Entertainment</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Housing</li>
    </ul>
  </div>
</ng-template>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="categoryOrigin"
  [cdkConnectedOverlayOpen]="isCategoryOpen()"
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="closeCategory()"
  (detach)="closeCategory()">
  <div class="max-h-96 max-w-full min-w-56 overflow-y-auto rounded-xl bg-white p-4 shadow-2xl">
    <ul class="divide-grey-100 text-grey-900 divide-y">
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">All Categories</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Food & Drink</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Shopping</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Transportation</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Entertainment</li>
      <li class="text-preset-4 cursor-pointer py-4 transition-colors duration-200 first:pt-0 last:pb-0">Housing</li>
    </ul>
  </div>
</ng-template>
