<card>
  <card-header
    title="Pots"
    link="/pots">
  </card-header>

  <section class="flex flex-col gap-4">
    <div class="bg-beige-100 flex items-center gap-4 rounded-xl p-6">
      <pot-icon class="text-green block size-10" />
      <div class="flex flex-col gap-4">
        <h3 class="text-preset-4 text-grey-500">Total Saved</h3>
        <p class="text-preset-1 text-grey-900">{{ 850 | currency:'USD':true:'1.0-0' }}</p>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <category-item
        color="#277c78"
        title="Savings"
        [amount]="159">
      </category-item>
      <category-item
        color="#82C9D7"
        title="Gift"
        [amount]="40">
      </category-item>
      <category-item
        color="#626070"
        title="Concert Ticket"
        [amount]="110">
      </category-item>
      <category-item
        color="#F2CDAC"
        title="New Laptop"
        [amount]="10">
      </category-item>
    </div>
  </section>
</card>
