<card>
  <card-header
    title="Budgets"
    link="/budgets"
    linkText="See Details">
  </card-header>

  <div class="flex flex-col items-center gap-4 lg:flex-row">
    <budgets-chart class="grow"></budgets-chart>

    <section class="grid grid-cols-2 gap-4 lg:grid-cols-1">
      <category-item
        color="#277c78"
        title="Savings"
        [amount]="159">
      </category-item>
      <category-item
        color="#82C9D7"
        title="Gift"
        [amount]="40">
      </category-item>
      <category-item
        color="#626070"
        title="Concert Ticket"
        [amount]="110">
      </category-item>
      <category-item
        color="#F2CDAC"
        title="New Laptop"
        [amount]="10">
      </category-item>
    </section>
  </div>
</card>
