<li
  [attr.aria-label]="label()"
  [routerLink]="link()"
  routerLinkActive="bg-beige-100 text-grey-900 hover:text-grey-900 before:content-[''] before:absolute before:left-0 before:bottom-0 md:before:top-0 before:w-full md:before:w-1 before:h-1.5 md:before:h-full before:bg-green"
  [routerLinkActiveOptions]="{exact: exactMatch()}"
  class="hover:text-grey-100 relative flex cursor-pointer flex-col items-center gap-1.5 rounded-t-lg pt-2.5 pb-3.5 transition-colors duration-300 md:flex-row md:gap-4 md:rounded-t-none md:rounded-r-xl md:px-0 md:py-3 md:pl-8">
  <div
    class="size-5"
    [class.text-green]="router.isActive(link(), exactMatch())">
    <ng-content></ng-content>
  </div>
  <span class="text-preset-5-bold hidden sm:block md:hidden">{{ label() }}</span>
  <span class="text-preset-3 hidden md:block">{{ label() }}</span>
</li>
