<card>
  <card-header
    title="Transactions"
    link="/transactions">
  </card-header>

  <ul
    role="list"
    class="divide-grey-100 divide-y p-6">
    <li class="py-4 first:pt-0 last:pb-0">
      <transaction-item></transaction-item>
    </li>
    <li class="py-4 first:pt-0 last:pb-0">
      <transaction-item></transaction-item>
    </li>
    <li class="py-4 first:pt-0 last:pb-0">
      <transaction-item></transaction-item>
    </li>
    <li class="py-4 first:pt-0 last:pb-0">
      <transaction-item></transaction-item>
    </li>
    <li class="py-4 first:pt-0 last:pb-0">
      <transaction-item></transaction-item>
    </li>
  </ul>
</card>
