<modal-header
  [title]="data.title"
  (closeModal)="closeModal()">
</modal-header>

<p class="text-preset-4 text-grey-500">{{ data.description }}</p>

<form
  id="budget-form"
  class="flex flex-col gap-4"
  (ngSubmit)="submit()"
  [formGroup]="form"
  autocomplete="off">
  <input-text
    label="Budget Category"
    name="category"
    formControlName="category"
    [control]="form.controls.category"
    [required]="true" />

  <input-text
    label="Maximum Spend"
    name="amount"
    formControlName="amount"
    [control]="form.controls.amount"
    type="number"
    [required]="true" />

  <input-select
    label="Testing"
    name="test"
    formControlName="test"
    [control]="form.controls.test"
    [options]="options"
    [optionTemplate]="colorOptionTemplate">
  </input-select>

  <button
    type="submit"
    [disabled]="false"
    [class]="form.invalid 
      ? 'w-full text-preset-4-bold bg-grey-500 cursor-not-allowed rounded-xl p-4 text-white transition-colors duration-300'
      : 'w-full text-preset-4-bold bg-grey-900 hover:bg-beige-500 cursor-pointer rounded-xl p-4 text-white transition-colors duration-300'">
    {{ data.edit ? 'Save Changes' : 'Add Budget' }}
  </button>
</form>

<ng-template
  #colorOptionTemplate
  let-option
  let-selected="selected">
  <div class="flex items-center gap-3">
    <div
      class="h-3 w-3 rounded-full"
      [style.background-color]="option.color"></div>
    <span [class.font-semibold]="selected">{{ option.label }}</span>
    @if (selected) {
    <simple-check-icon class="ml-auto h-4 w-4 text-green-600"></simple-check-icon>
    }
  </div>
</ng-template>
