<modal-header
  [title]="data.title"
  (closeModal)="closeModal()">
</modal-header>

<p class="text-preset-4 text-grey-500">{{ data.description }}</p>

<form class="mt-4 flex flex-col gap-4">
  <input-text
    label="Budget Category"
    name="category"
    [required]="true" />

  <input-text
    label="Maximum Spend"
    name="amount"
    type="number"
    [required]="true" />

  <submit-button
    [text]="data.edit ? 'Save Changes' : 'Add Budget'"
    [invalid]="true">
  </submit-button>
</form>
